.title {
    margin-top: 0px;
}

.buttonRow {
    margin-bottom: 1em;
}

.textButtonHeight {
    height: 2.4em;
}

.hr {
    border-top-color: #aaa;
}

.moneyButton {
    width: 4em;
}

.button {
    width: 9em;
}

.gmButton {
    width: 12.5em;
}

.amount {
    font-weight: bold;
    font-size: 1.2em;
}

.amount-input {
    width: 4em;
}
.amount-input-row {
    margin-top: -0.73em;
}
.container {
    width: 1680px;
}

.notifications {
    height: 46em;
    overflow-y: scroll;
}

.transactions {
    height: 23em;
    overflow-y: scroll;
}

.notification-text-td{
    width: 100%;
}

.telex-time {
    width: 80px;
}

.telex-text {
    /*width: 100%;*/
}

.telex-agents {
    width: 220px;
}

.telexFont {
    font-size: 22px;
    font-family: courier, monospace;
    font-weight: 600;
}

.agencyStats {
    font-size: 32px;
    font-family: courier, monospace;
    font-weight: bold;
}

.transaction-log-amount {
    text-align: right;
}

.transaction-log-small {
    width: 80px;
}
.transaction-log-medium {
    width: 150px;
}

.FBI {
    background-color: #428bca;
}

.KGB {
    background-color: #f0ad4e;
}

.MOSSAD {
    background-color: #47a447;
}

.xfield {
    top: 10px;
    font-size: 18px;
}