<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Statement</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        h3 {font-family: "Courier New", Courier, monospace; font-size: 12px; }
        h4 {font-family: "Courier New", Courier, monospace; font-size: 12px; }
        p {font-family: "Courier New", Courier, monospace; font-size: 12px; }
        td {font-family: "Courier New", Courier, monospace; font-size: 12px; }
        .time { width: 80px; }
        .direction { width: 220px; }
        .amount {
            width: 100px;
            text-align: right;
            padding-right: 20px;
        }
    </style>
</head>
<body onload="run();">
<h2 th:each="smokerStatement: ${smokersStatements}">
    <h4 th:text="${smokerStatement.smoker.name}">smoker name</h4>
    <h4>Statement
        <th:block th:text="${statement.end}"/>
        - round:
        <th:block th:text="${statement.round}"/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Balance: <th:block th:text="${smokerStatement.smoker.funds}"/> grip
    </h4>
    <table>
        <tbody>
        <tr th:each="transaction : ${smokerStatement.transactions}">
            <td class="time" th:text="${transaction.time}"></td>
            <td class="direction" th:text="${transaction.direction}"></td>
            <td class="amount"> <th:block th:text="${transaction.amount}" /> grip</td>
            <td th:text="${transaction.description}"></td>
        </tr>
        </tbody>
    </table>
    <hr/>
</h2>
</body>
<script th:inline="javascript">
    function run() {
        window.print();
        // var close = [[${close}]];
        // if (close) {
        //     window.close();
        // }
    }
</script>
</html>